.Container {
    min-width: 100px;
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    background: rgb(64, 105, 230);
}

.Header {
    min-width: 100%;
    height: 150px;
    background: rgb(15, 15, 196);
    margin-bottom: 10px;

}

.Content {
    background: rgb(242, 242, 244);
    height:1000px;
    width: 920px;
    margin-right: 25px;

}
.Sidebar{
    background: rgb(43, 80, 69);
    height: 900px;
    width: 500px;
    align-content: flex-start;
}


 @media screen and (min-width: 800px) {
    .Containner{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    }
 } 
.Pengertian{
    font-size: 15px;
    margin: 20px;
}